﻿
@{
    Layout = "~/Views/Shared/_layoutUser.cshtml";
    ViewBag.Title = "News";
    ViewBag.Button = "Tin Tức";
}
}

<main>
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_1.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_2.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Assets Management?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_3.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Code of Conduct Business?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_1.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_2.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Assets Management?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_3.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Code of Conduct Business?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_1.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Business Management?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_2.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Assets Management?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="~/assets/img/person/person_3.jpg" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">Sam Newman</div>
                                <a href="#" class="post-date">23 Apr 2020</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="blog-single.html">What is Code of Conduct Business?</a></div>
                            <div class="post-excerpt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
                        </div>
                        <div class="footer">
                            <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-5">
                    <nav aria-label="Page Navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>
    </div>
</main>
