﻿@model IEnumerable<Web_Code.Models.Khoa>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<div class="container" style="margin-top:120px; min-height: 80vh">
    <div class="col-md-12">
        <h5>
            Danh Sách Khoa
            <a style="float:right" href="~/Khoa/Themmoi">Thêm Mới</a>
        </h5>
        
    </div>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                   Tên Khoa
                </th>
                <th>
                    Môn Học
                </th>
                <th>
                    Mã Bộ Môn
                </th>
                <th>
                    Trưởng Khoa
                </th>
                <th>
                   Mã Giáo Viên
                </th>
                <th>
                   Số Điện Thoại
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TENKHOA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MONHOC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MABM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TRUONGKHOA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAGV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        <a href="~/Khoa/Update?MAGV= @item.MAGV">Edit</a>
                        <a href="~/Khoa/Delete?MAGV= @item.MAGV">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

