﻿@model Web_Code.Models.Khoa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Khoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKHOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKHOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONHOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONHOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MABM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MABM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRUONGKHOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRUONGKHOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-success btn-sm">Delete</button>
        </div>
    }
</div>
