﻿@model Web_Code.Models.Khoa

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<div class="container" style="margin-top:120px; min-height: 100vh">
    <div class="col-md-12">
        <h5>
            Update Khoa
        </h5>

    </div>
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2">Tên Khoa</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENKHOA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENKHOA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Môn Học</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MONHOC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MONHOC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Mã Bộ Môn</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MABM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MABM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Trưởng Khoa</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TRUONGKHOA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TRUONGKHOA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Mã Giáo Viên</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MAGV, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MAGV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Số điện thoại</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success btn-sm">Lưu</button>
                    </div>
                </div>
            </div>
            }
    </div>
</div>



