﻿@model List<Web_Code.Models.GiaoVien>
@{
    Layout = "~/Views/Shared/_layoutUser.cshtml";
    ViewBag.Title = "Trang Chủ";
    ViewBag.Button = "Đăng Nhập";
}


    <main>
       <div class="page-section features"style="margin: 150px 0px">
           <h4>Danh sách Giáo Viên</h4>
           <p>
               <a href="~/Home/Sapxepngaysinhgiamdan">Sắp xếp ngày sinh giảm dần </a>

           </p>
           <table class="table table-bordered">
               <thead>
                   <tr>
                       <th>MAGV</th>
                       <th>Họ Và Tên</th>
                       <th>Ngày Sinh</th>
                       <th>Địa Chỉ</th>
                       <th>Số điện thoại</th>
                       <th>Môn Học</th>
                   </tr>
               </thead>
               <tbody>
                   @foreach(var item in Model)
                     {
                       <tr>
                             <td>@item.MAGV</td>
                            <td>@item.HOTEN</td>
                            <td>@string.Format("{0:dd-MM-yyyy}",item.NGAYSINH)</td>
                            <td>@item.DIACHI</td>
                            <td>@item.SDT</td>
                            <td>@item.MONHOC</td>
                       </tr>
                     }
               </tbody>
           </table>
       </div>
    </main>

    

