﻿
@{
    Layout = "~/Views/Shared/_layoutUser.cshtml";
    ViewBag.Title = "Thêm Mới Giáo Viên";
}
<main>
    <div class="page-section features" style="margin: 150px 0px">
        <div class="container">
            <h4>Thêm mới Giáo Viên</h4>
            <form action="~/Home/LuuThemMoiGiaoVien" method="post">
                <div class="form-group">
                    <label for="MAGV">Mã Giáo Viên:</label>
                    <input type="text" class="form-control" name="MAGV">
                </div>
                <div class="form-group">
                    <label for="HOTEN">Họ Và Tên:</label>
                    <input type="text" class="form-control" name="HOTEN">
                </div>
                <div class="form-group">
                    <label for="NGAYSINH">Ngày Sinh:</label>
                    <input type="date" class="form-control" name="NGAYSINH">
                </div>
                <div class="form-group">
                    <label for="DIACHI">Địa Chỉ:</label>
                    <input type="text" class="form-control" name="DIACHI">
                </div>
                <div class="form-group">
                    <label for="SDT">Số Điện Thoại:</label>
                    <input type="number" class="form-control" name="SDT">
                </div>
                <div class="form-group">
                    <label for="MONHOC">Môn Học:</label>
                    <input type="text" class="form-control" name="MONHOC">
                </div>
                <button type="submit" class="btn btn-success btn-sm">Thêm Mới</button>
            </form>
        </div>
</main>
