﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang Chủ</title>
    <style>
        *{
            padding:0px;
            margin:0 auto;
        }
        body{
            width: 100%
        }
    </style>
</head>
<body>
    @*Menu*@
    <ul>
        <li><a href="~/Home/TrangChu">Trang Chủ</a></li>
        <li><a href="~/Home/GioiThieu">Giới Thiệu</a></li>
        <li><a href="~/GiaoVien/ThongTinGiaoVien">Thông Tin Giáo Viên</a></li>
    </ul>
    
    <div> 
    </div>
</body>
</html>
