﻿
@{
    Layout = "~/Views/Shared/_layoutUser.cshtml";
    ViewBag.Title = "Service";
    ViewBag.Button = "Chi tiết dịch vụ";
}
}

    <main>
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 py-3">
                        <h2 class="title-section">We're <span class="marked">ready to</span> Serve you with best</h2>
                        <div class="divider"></div>
                        <p class="mb-5">We provide marketing services to startups & small business to looking for partner for their digital media, design & dev lead generation & communication.</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                        <a href="#" class="btn btn-outline ml-2">See pricing</a>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="img-place text-center">
                            <img src="~/assets/img/bg_image_3.png" alt="">
                        </div>
                    </div>
                </div>
            </div> <!-- .container -->
        </div> <!-- .page-section -->

        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    <div class="subhead">Why Choose Us</div>
                    <h2 class="title-section">Your <span class="marked">Comfort</span> is Our Priority</h2>
                    <div class="divider mx-auto"></div>
                </div>

                <div class="row mt-5 text-center">
                    <div class="col-lg-4 py-3">
                        <div class="display-3"><span class="mai-shapes"></span></div>
                        <h5>High Performance</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sit.</p>
                    </div>
                    <div class="col-lg-4 py-3">
                        <div class="display-3"><span class="mai-shapes"></span></div>
                        <h5>Friendly Prices</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sit.</p>
                    </div>
                    <div class="col-lg-4 py-3">
                        <div class="display-3"><span class="mai-shapes"></span></div>
                        <h5>No time-confusing</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sit.</p>
                    </div>
                </div>
            </div> <!-- .container -->
        </div> <!-- .page-section -->
    </main>

    