﻿@model IEnumerable<Web_Code.Models.GIAOVIEN>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

    <div class="container" style="margin:100px 0px">
        <div class="row">
            <div class="col-md-12">
                <h4>Danh Sách Giáo Viên</h4>
                <p>
                    <a href="~/GV/Insert">Insert</a>
                   
                
                </p>
                <table class="table">
                    
                    <tr>
                        <th>
                            Mã Giáo Viên
                        </th>
                        <th>
                            Họ Và Tên
                        </th>
                        <th>
                            Ngày Sinh
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Bộ Môn
                        </th>
                        <th></th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MAGV</td>
                            <td>@item.HOTEN</td>
                            <td>@string.Format("{0:dd-MM-yyyy}", item.NGAYSINH)</td>
                            <td>@item.DIACHI</td>
                            <td>@item.SDT</td>
                            <td>@item.MONHOC</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MAGV }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MAGV })
                            </td>
                        </tr>
                    }

                </table>
        </div>
    </div>
    </div>

